@model IEnumerable<StudentsTracker.Student>

@{
    ViewBag.Title = "Students";
}


    <h2>Students</h2>

<p>
    @Html.ActionLink("Create New", "Create","", new {@class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BirthDate)
        </th>
        <th>
            Field
        </th>
        <th>
            Governorate
        </th>
        <th>
            Neighborhood
        </th>
        <th>
            Controls
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @item.BirthDate.ToString("dd/MM/yyyy")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Field.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Governorate.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Neighborhood.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID } , new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "DeleteConfirmed", new { id=item.ID}, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
